# Ignore everything by default
*

# Allow only what the build actually needs
!bun.lock
!package.json
!tsconfig.json
!index.ts
!tools/
!tools/typia/
!tools/typia/generated/
!tools/typia/generated/**
!src/
!src/**